<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/img/icon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="landscape" src="/img/duck.avif" alt="a pair of ducks looking happily at the camera">
    </div>
    {{>footer}}
</body>
</html>